In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("E:/pr√°ce/firmy/cafe slavia/analysis/Coffee_house_data/data_clean/combined_sortiment.csv")

In [7]:
df.columns = ['plu', 'name', 'amount', 'value', 'date']

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12504 entries, 0 to 12503
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   plu     12504 non-null  int64
 1   name    12504 non-null  object
 2   amount  12504 non-null  float64
 3   value   12504 non-null  float64
 4   date    12504 non-null  object
dtypes: float64(2), int64(1), object(2)
memory usage: 488.6+ KB